<section class="hero-wrap hero-wrap-2" style="background-image: url('/assets/images/bg_2.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate mb-5 text-center">
                <p class="breadcrumbs mb-0"><span class="mr-2"><a href="/">Home <i
                                class="fa fa-chevron-right"></i></a></span> <span>Add Address <i
                            class="fa fa-chevron-right"></i></span></p>
                <h2 class="mb-0 bread">Add Address</h2>
            </div>
        </div>
    </div>
</section>

<div class="d-flex justify-content-center col-md-8 mb-4 mt-5">
    <div class="card mb-4">
        <div class="card-header py-3">
            <h5 class="mb-0 text-font text-uppercase">Delivery address</h5>
        </div>
        <div class="card-body">
            <form action="/address" method="post">

                <div class="row mb-4">
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" id="Name" name="First" onkeyup="validateName()" class="form-control" />
                            
                            <label class="form-label"  for="form11Example1">First name</label>
                            <span id="nameerr" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" id="Name" name="Last" onkeyup="validateName()" class="form-control" />
                            <label class="form-label"  for="form11Example2">Last name</label>
                            <span id="nameerr" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <!-- Text input -->


                <!-- Text input -->
                <div class="form-outline mb-4">
                    <input type="text" id="Addres" name="Addrers" onkeyup="validAddress()"  class="form-control" />

                    <label class="form-label"  for="form11Example4">Address</label>
                    <span id="address" class="text-danger"></span>
                </div>
                <div class="form-outline mb-4">
                    <input type="numbers" id="Price" name="Pincode" onkeyup="validPrice()" class="form-control" />
                    <label class="form-label"  for="form11Example6">Pincode</label>
                    <span id="priceee" class="text-danger"></span>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" id="Email" name="Email" onkeyup="validEmail()" class="form-control" />
                    <label class="form-label"  for="form11Example5">Email</label>
                    <span id="Emaileee" class="text-danger"></span>
                </div>

                <!-- Number input -->
                <div class="form-outline mb-4">
                    <input type="number" id="phonenumber" name="Phone" onkeyup="validPhonenumber()" class="form-control" />
                    <label class="form-label"  for="form11Example6">Phone</label>
                </div>

                <!-- Message input -->

                <div class="mb-5 text-center">
                    <button type="submit" class="btn button-order col-md-10" onclick="return validation()">Add Address</button>
                </div>
            </form> <!-- Checkbox -->
        </div>


    </div>


</div>








</div>

</section>
<!--Section: Design Block-->

</div>
<style>
    .text-font {
        font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
        font-weight: 700;
        letter-spacing: .156rem;
        font-size: 1.125rem;
    }

    .text-price {
        padding: 0 .625rem;
        font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
        font-style: normal;
        font-size: .75rem;
        font-weight: 700;
        line-height: .813rem;
        letter-spacing: 1.6px;
    }

    .text-descriptions {
        font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
        font-style: normal;
        font-size: .75rem;
        font-weight: 400;
        line-height: 1.125rem;
        margin: .313rem 0 .938rem;
        padding: 0 .625rem;
    }

    .button-color {
        color: #4e4e4e;
        border-color: #4e4e4e;
    }

    .button-order {
        font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
        font-style: normal;
        font-size: .75rem;
        font-weight: 700;
        background-color: hsl(90, 40%, 50%);
        color: white;
    }
</style>
 <script>
    var errorName = document.getElementById('nameerr')
    var errorAddress= document.getElementById('address')
    var errorprice = document.getElementById('priceee')
    var errorDiscription=document.getElementById('discription')
    var errorStock=document.getElementById('stock')
    var errorPhonenumber = document.getElementById('phonenumbers')
    function validateName() {
        const name = document.getElementById('Name').value;
        if (name == "") {
            errorName.innerHTML = 'Enter your Name'
            return false
        }
        if (!name.match(/^[a-zA-Z]*$/)) {
            errorName.innerHTML = 'Alphanets are only allowed'
            return false
        }
        errorName.innerHTML = null
        return true

    }
    function validAddress() {
        const Address = document.getElementById('Address').value;
        if (Address == "") {
            errorAddress .innerHTML = 'Enter your category'
            return false
        }
        if (!Address.match(/^[a-zA-Z]*$/)) {
            errorAddress .innerHTML = 'Alphanets are only allowed'
            return false
        }
        errorcategory.innerHTML = null
        return true

    }
function validDiscription() {
        const name = document.getElementById('Discription').value;
        if (name == "") {
            errorDiscription.innerHTML = 'Enter your Discription'
            return false
        }
        if (!name.match(/^[a-zA-Z]*$/)) {
            errorDiscriptione.innerHTML = 'Alphanets are only allowed'
            return false
        }
       errorDiscription.innerHTML = null
        return true

    }
     function validPrice() {
        const number = document.getElementById('Price').value
        if (number == "") {
            errorprice.innerHTML = "enter your Pincode"
            return false
        }
        if (!number.match(/^\d{10}$/)) {
            errorprice.innerHTML = 'Pincode should be valid'
            return false
        }
        errorprice.innerHTML = null
        return true
    }
     function validStock() {
        const number = document.getElementById('Price').value
        if (number == "") {
            errorStock.innerHTML = "enter your price"
            return false
        }
        if (!number.match(/^\d{10}$/)) {
            errorStock.innerHTML = 'Number should be valid'
            return false
        }
        errorStock.innerHTML = null
        return true
    }
     function validPhonenumber() {
        const Phone = document.getElementById('phonenumber').value
        if (Phone == "") {
            errorPhonenumber.innerHTML = "enter a phonenumber"
            return false
        }
        if (Phone.length < 10 && !mob.match(/^\d*$/)) {
            errorPhonenumber.innerHTML = "Please Enter the valide phone number"
            return false
        }
        errorPassword.innerHTML = null
        return true
    }


    function validation() {
        if (!validateName() || !validCategory() || !validDiscription() || !validPrice() || !validStock()) {
            return false
        }
        return true
    }
</script>
                   
