<section>
    <div class="row">
        <div class="container">
            <div class="col-md-12 text-center" style="padding:100px;">
                <h1 class="text-center">Order Placed Successfully</h1>
                <a href="/orders" class="btn btn-primary"> view orders</a>
            </div>
        </div>
    </div>
</section>